.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    border: #1F1F1F 2px solid;
    background-color: transparent;
    margin: 0 7px !important;
}
  
.swiper-pagination-bullet-active {
    background: #1F1F1F;
}
.swiper-pagination {
    text-align: left;
    position: relative;
    margin-top: 15px;
}
.swiper {
    overflow: visible;
}

@media (min-width: 350px) and (max-width: 620px){
    .swiper-pagination {
        margin-top: 20%;
    }
}



